@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Roboto:ital,wght@0,300;1,100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');



* {
    padding: 0px;
    margin: 0px;
}

html {
    background-color: rgb(44, 44, 44);
}

li {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    color: white;
    font-size: 1.6em;
    margin-top: 10px;
    font-family: 'Oswald';
    cursor: pointer;
    transition: .3s;
}

li:hover {
    color: rgb(255, 255, 92);

}

.beneficios {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 500px;
    margin-top: 50px;
}

.cardbeneficios {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    border: 2px solid grey;
    border-radius: 10px;
    margin-top: 50px;
    padding: 20px;
    transition: .3s ease-in-out;
}

.cardbeneficios:hover {
    transform: scale(1.01);
}

.cardbeneficios > h1 {
    font-size: 2.5em;
    color: white;
    font-family: 'oswald';
}

.itemscheck {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.imagemdemonstrativo {
    display: flex;
    width: 300px;
    height: 320px;
    background-size: cover;
    background-position: center;
    align-self: flex-end;
    background-image: url(imagens/pngwing.com.png);
}

.check {
    display: flex;
    width: 30px;
    height: 30px;
    background-image: url(imagens/done_all_FILL0_wght400_GRAD0_opsz48.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 5px;
}

.setaback {
    display: flex;
    width: 20px;
    height: 20px;
    background-image: url(imagens/seta-direita.png);
    background-size: cover;
    padding: 20px;
    margin: 20px;
    rotate: 180deg;
}

.conteudoprincipal {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 50px;
}

.conteudoprincipal > h1 {
    font-family: 'Oswald';
    color: white;  
    text-align: center;
    font-size: 2.5em;
    margin: 10px;
}

.conteudoprincipal > p {
    width: 80%;
    font-size: 1.5em;
    color: white;
    padding-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.imagemprincipal {
    background-image: url(imagens/close-up-mulher-verificando-camera-de-seguranca.jpg);
    width: 80%;
    height: 500px;
    background-size: cover;
    background-position: center;
    margin-top: 50px;
}

.buttonorcamento {
    display: flex;
    padding: 10px;
    list-style: none;
    outline: none;
    background-color: rgb(255, 240, 102);
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    transition: .3s;
}

.buttonorcamento:hover {
    transform: scale(1.05);
    background-color: rgba(29, 29, 29, 0.856);
}

.buttonorcamento:hover > a {
    color: white;
}

a {
    text-decoration: none;
    color: rgb(36, 36, 36);
    font-weight: bold;
    font-family: 'Oswald';
    font-size: 1.5em;
    transition: .3s;
}

.videosets {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}

video {
    width: 80%;
    border-radius: 20px;
}

@media only screen and (max-width: 750px){
    .cardbeneficios{
        width: 80%;
        margin-top: 50px;
    }

    .beneficios {
        margin-top: 0px;
    }

    li {
        font-size: 1.1em;
        text-align: center;
    }

    .videosets {
        width: 100%;
    }

    .videosets > video {
        width: 90%;
    }
}



