@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Roboto:ital,wght@0,300;1,100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

html {
    width: 100%;
    background-color:rgb(44, 44, 44);
}

header {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    height: 70px;
    backdrop-filter: blur(8px);
    margin-top: 50px;
    top: 0;
    z-index: 100;
    background-color: rgba(44, 44, 44, 0.281);
}

a {
    outline: none;
    text-decoration: none;
    color: white;
    font-weight: 550;
}

nav {
    display: flex;
}

ul {
    display: flex;
    justify-content: space-around;
}

li {
    list-style: none;
}

i {
    display: flex;
    list-style: none;
    justify-self: flex-end;
    font-size: 1.5em;
}

.segurando_botao {
    color: white;
    font-size: 2em;
    cursor: pointer;
    display: none;
    outline: none;
}

.nav-item, .nav-item4 {
    overflow: hidden;
    padding-right: 1.7em;
    font-size: 1.8em;
    border-bottom: 1px solid white;
    padding-bottom: 15px;
    
}

.nav-item4 {
    padding-right: 0
}

.nav-item > a {
    overflow: hidden;
    text-decoration: none;
    font-weight: bold;
    color: white;

}

.nav-item4 > a {
    overflow: hidden;
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.nav-item4 > a:hover {
    color: rgb(255, 240, 102);
    transition: .2s;
}

.nav-item > a:hover {
    color: rgb(255, 240, 102);
    transition: .6s;
}


header > h1 {
    font-weight: bolder;
    padding-left: 1em;
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    color: rgb(17, 17, 17);
}

.dropdown_menu {
    display: none;
}

/* SOBRE NOS */

#sobrenos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 2%;
}

.span1 {
    font-size: 1.7em;
    width: 500px;
    padding-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
}

.span1 > h1 {
    font-size: 2em;
    font-family: 'Oswald', sans-serif;
    padding: 0;
    margin-bottom: 10px;
    border-bottom: 2px solid rgb(255, 240, 102);
    width: 250px;
}

.imagemcamera {
    display: flex;
    height: 550px;
    width: 550px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    background-image: url(imagens/retrato-do-guarda-de-seguranca-masculino-com-estacao-de-radio-e-telas-de-camera.jpg);
}


#servicos > h1 {
    font-family: 'Oswald', 'sans-serif';
    font-size: 3em;
    background-color: rgb(255, 255, 92);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    margin: 20px;
}
/* SERVIÇOS */

#servicos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 80px;


}

.tipodeservicos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin-top: 50px;
}

.img1 {
    display: flex;
    background-image: url(imagens/automacao-residencial-com-camera-de-seguranca.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 25vw;
    height: 300px;
    border-radius: 10px;
}

.img2 {
    display: flexbox;
    background-image: url(imagens/mulher-jovem-usando-tecnologia-domestica.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 25vw;
    height: 300px;
    border-radius: 10px;

}

.img3 {
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    background-image: url(imagens/courier-fazendo-trabalhos-de-logistica.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 25vw;
    height: 300px;
    border-radius: 10px;
}

.imagensserviço {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.textoservico {
    font-family: 'Oswald';
    font-size: 1.8em;
    color: white;
    font-weight: bolder;
    text-align: center;
    padding-bottom: 20px;
}

.button {
    border: none;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(255, 255, 92);
    margin-top: 15px;
    text-transform: uppercase;
    cursor: pointer;
    background: none;
    color: white;
    transition: .3s;
    font-size: 20px;
}

.button:hover {
    color: grey;
}

.card1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.card2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 20px;
}

.card3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* CLIENTES */

#clientes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    background-color: rgb(255, 255, 92);
}

.textocl1 {
    color: white;
    text-align: center;
    padding-top: 50px;
}

.titulocl {
    padding: 20px;
}

.titulocl1, .titulocl2 {
    font-size: 3em;
    font-family: 'Oswald', sans-serif;
    color: rgb(17, 17, 17);
}

.mulherapontando {
    display: flex;
    width: 400px;
    height: 400px;
    background-image: url(imagens/muie.png);
    background-size: cover;
    background-position: center;
    -webkit-filter: drop-shadow(5px 5px 10px rgba(20, 20, 20, 0.63));
}

/* FOOTER */

#contato {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 80px;
}

.contatotitulo > h1, h2 {
    font-family: 'Oswald';
    text-align: center;
    font-size: 3em;
    color: white;

}

.contatotitulo > h2 > strong {
    font-family: 'Oswald';
    color: rgb(255, 240, 102);
}

.instagram, .whatsapp {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    list-style: none;
    text-decoration: none;
    color: white;
    font-family: 'Oswald';
    font-size: 1.8em;
    width: 300px;
    height: 50px;
}

.instagram {
    background-color: rgb(253, 98, 170);
    border-radius: 10px;
    padding: 5px;
    margin: 20px 0px 20px 0px;
    transition: all .3s ease-in-out;
}

.instagram:hover {
    transform: scale(1.06);
}

.whatsapp {
    background-color: rgb(75, 255, 144);
    border-radius: 10px;
    padding: 5px;
    margin: 40px 0px 0px 0px;
    transition: all .3s ease-in-out;
}

.whatsapp:hover {
    transform: scale(1.06);
}

.logoinsta {
    background-image: url(imagens/instagram-logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;
}


.logozap {
    width: 30px;
    height: 30px;
}

.logozap {
    background-image: url(imagens/whatsapp-logo-png-.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 33px;
    height: 33px;
}

/*direitos do site*/

#direitosdosite {
    display: flex;
    justify-content: center;
    background-color: rgb(173, 86, 255);
    color: white;

}

#direitosdosite > a {
    color: rgb(250, 223, 70);
    padding-left: 5px;
}

@media only screen and (max-width: 609px){
    .mulherapontando {
        display: none;
    }
}

.imagemclientes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}


@media only screen and (min-width: 100px) and (max-width: 1110px){

    .imagensserviço {
        flex-direction: column;
    }
    
    .img1, .img2, .img3 {
        width: 100%;
    }

    .card1, .card2, .card3 {
    width: 90%;
    margin-top: 30px;
    }
}

@media only screen and (min-width: 100px) and (max-width: 609px) {

    header {
        justify-content: flex-start;
    }
    
    .segurando_botao {
        margin-right: 20px;
    }
    
    .dropdown_menu {
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        top: 60px;
        height: 0;
        width: 70%;
        background-color: rgb(58, 58, 58);
        padding: 1em;
        margin-right: 20px;   
        border-radius: 20px;
        color: rgb(255, 255, 92);
        overflow: hidden;
        z-index: 100;
        transition: all 7asdasds cubic-bezier(0.175, 0.885, 0.32, 1.275) ease-in-out;
    }
    
    .dropdown_menu.open {
        display: flex;
        height: 240px;
    }
    
    .dropdown_menu > li {
        padding: 0px;
        margin-bottom: 30px;
    }
    
    .dropdown_menu > .nav-item4 {
        margin: 0px;
    }
    

    nav > ul{
        display: none;
    }

    .segurando_botao {
        display: block;
    }

    a:active {
        outline: none;
        text-decoration: none;
        box-shadow: none;
        background-color: none;
    }

    .nav-item, .nav-item4 {
        font-size: 1.4em;
        border: none;
    }

    .card1, .card2, .card3 {
        margin-top: 20px;
        margin: 20px 0px 0px 0px;
    }

    .imagemclientes {
        margin-bottom: 40px;
        margin-top: 40px;
    }

    .instagram, .whatsapp{
        width: 90%;
    }

    .titulocl1, .titulocl2 {
        font-size: 1.7em;
    }
}