@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Roboto:ital,wght@0,300;1,100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');


[data-bs-theme=dark] {
    color-scheme: dark;
    --bs-body-color: #dee2e6;
    --bs-body-color-rgb: 222, 226, 230;
    --bs-body-bg: #212529;
    --bs-body-bg-rgb: 33, 37, 41;
    --bs-emphasis-color: #fff;
    --bs-emphasis-color-rgb: 255, 255, 255;
    --bs-secondary-color: rgba(222, 226, 230, 0.75);
    --bs-secondary-color-rgb: 222, 226, 230;
    --bs-secondary-bg: #343a40;
    --bs-secondary-bg-rgb: 52, 58, 64;
    --bs-tertiary-color: rgba(222, 226, 230, 0.5);
    --bs-tertiary-color-rgb: 222, 226, 230;
    --bs-tertiary-bg: #2b3035;
    --bs-tertiary-bg-rgb: 43, 48, 53;
    --bs-primary-text-emphasis: #6ea8fe;
    --bs-secondary-text-emphasis: #a7acb1;
    --bs-success-text-emphasis: #75b798;
    --bs-info-text-emphasis: #6edff6;
    --bs-warning-text-emphasis: #ffda6a;
    --bs-danger-text-emphasis: #ea868f;
    --bs-light-text-emphasis: #f8f9fa;
    --bs-dark-text-emphasis: #dee2e6;
    --bs-primary-bg-subtle: #031633;
    --bs-secondary-bg-subtle: #161719;
    --bs-success-bg-subtle: #051b11;
    --bs-info-bg-subtle: #032830;
    --bs-warning-bg-subtle: #332701;
    --bs-danger-bg-subtle: #2c0b0e;
    --bs-light-bg-subtle: #343a40;
    --bs-dark-bg-subtle: #1a1d20;
    --bs-primary-border-subtle: #084298;
    --bs-secondary-border-subtle: #41464b;
    --bs-success-border-subtle: #0f5132;
    --bs-info-border-subtle: #087990;
    --bs-warning-border-subtle: #997404;
    --bs-danger-border-subtle: #842029;
    --bs-light-border-subtle: #495057;
    --bs-dark-border-subtle: #343a40;
    --bs-heading-color: inherit;
    --bs-link-color: #6ea8fe;
    --bs-link-hover-color: #8bb9fe;
    --bs-link-color-rgb: 110, 168, 254;
    --bs-link-hover-color-rgb: 139, 185, 254;
    --bs-code-color: #e685b5;
    --bs-border-color: #495057;
    --bs-border-color-translucent: rgba(255, 255, 255, 0.15);
    --bs-form-valid-color: #75b798;
    --bs-form-valid-border-color: #75b798;
    --bs-form-invalid-color: #ea868f;
    --bs-form-invalid-border-color: #ea868f;
  }


*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

body {
    --bs-body-bg: #1b1b1b;
}

html {
    width: 100%;
    background-color: #1b1b1b;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

header {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 70px;
    backdrop-filter: blur(8px);
    z-index: 100;
    background-color: #1b1b1b4d;
}

a {
    outline: none;
    text-decoration: none;
    color: white;
    font-weight: 550;
}

#img1 {
    background-image: url(imagens/cliente.png);
    width: 550px;
    height: 550px;
    background-position: center;
    background-size: cover;

}

nav {
    display: flex;
}

ul {
    display: flex;
    justify-content: space-around;
}

li {
    list-style: none;
}

i {
    display: flex;
    list-style: none;
    justify-self: flex-end;
    font-size: 1.5em;
}

p {
    color: white;
}

.segurando_botao {
    color: white;
    font-size: 2em;
    cursor: pointer;
    display: none;
    outline: none;
}

.nav-item, .nav-item4 {
    overflow: hidden;
    padding-right: 1.7em;
    font-size: 1.8em;
    border-bottom: 1px solid white;
    padding-bottom: 15px;
    
}

.nav-item4 {
    padding-right: 0
}

.nav-item > a {
    overflow: hidden;
    text-decoration: none;
    font-weight: bold;
    color: white;

}

.nav-item4 > a {
    overflow: hidden;
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.nav-item4 > a:hover {
    color: #fff066;
    transition: .2s;
}

.nav-item > a:hover {
    color: rgb(255, 240, 102);
    transition: .6s;
}


header > h1 {
    font-weight: bolder;
    padding-left: 1em;
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    color: rgb(17, 17, 17);
}

.dropdown_menu {
    display: none;
}

/* SOBRE NOS */

#sobrenos {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
    align-items: center;
    background-image: url(imagens/guarda-de-seguranca-no-espaco-de-trabalho.png);
    background-position: center;
    backdrop-filter: blur(20px);
    background-repeat: no-repeat;
    background-size: cover;
}

.span1 {
    font-size: 1.7em;
    width: 500px;
    padding-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-wrap: wrap;
    color: white;
    animation-name: span;
    animation-duration: 2s;
}

@keyframes span {
    from {
        transform: translateX(-20px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.span1 > h1 {
    font-size: 2em;
    font-family: 'Oswald', sans-serif;
    padding: 0;
    margin-bottom: 10px;
    border-bottom: 2px solid rgb(255, 240, 102);
    width: 250px;
}

.imagemcamera {
    display: flex;
    height: 630px;
    width: 50%;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    background-image: url(imagens/retrato-do-guarda-de-seguranca-masculino-com-estacao-de-radio-e-telas-de-camera.png);
    animation-name: imgb;
    animation-duration: 2s;
}

@keyframes imgb {
    from {
        transform: translateX(20px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.setabaixo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
}

.setabaixoimg {
    width: 70px;
    height: 70px;
    bottom: 20px;
    position: relative;
}

#servicos > h1 {
    font-family: 'Oswald', 'sans-serif';
    font-size: 3em;
    background-color: rgb(255, 255, 92);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    margin: 20px;
}
/* SERVIÇOS */

#servicos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
    background-color: #1b1b1b;
}

.tipodeservicos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin-top: 50px;
}

.img1 {
    display: flex;
    background-image: url(imagens/automacao-residencial-com-camera-de-seguranca.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 25vw;
    height: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.img2 {
    display: flexbox;
    background-image: url(imagens/mulher-jovem-usando-tecnologia-domestica.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 25vw;
    height: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.img3 {
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    background-image: url(imagens/courier-fazendo-trabalhos-de-logistica.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 25vw;
    height: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.imagensserviço {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.textoservico {
    font-family: 'Oswald';
    font-size: 1.8em;
    color: white;
    font-weight: bolder;
    text-align: center;
    padding-bottom: 20px;
}

.button {
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    background: none;
    color: rgb(24, 24, 24);
    transition: .3s;
    font-size: 1em;
    text-align: center;
    margin: 20px;
}

.button > a {
    color: white;
    font-weight: bolder;
    text-align: center;
    transition: all .3s ease-in-out;
}

.button:hover > a {
    color: rgb(128, 128, 128);
}

.card1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    background-color: rgb(0, 0, 0);
    border-bottom: 10px solid rgb(255, 255, 92);
    border-radius: 10px;
    text-align: center;
    animation-name: cards;
    animation-duration: 1s;
}

@keyframes cards {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.card2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 20px;
    background-color: rgb(0, 0, 0);
    border-bottom: 10px solid rgb(255, 255, 92);
    border-radius: 10px;
    animation-name: card2;
    animation-duration: 1.6s;
}

@keyframes card2 {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.card3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    border-bottom: 10px solid rgb(255, 255, 92);
    border-radius: 10px;
    animation-name: card3;
    animation-duration: 2s;
}

@keyframes card3 {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


/* CLIENTES */

#clientes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    background-color: rgb(255, 255, 92);
}

.textocl1 {
    color: white;
    text-align: center;
    padding-top: 50px;
}

.titulocl {
    padding: 20px;
}

.titulocl1, .titulocl2 {
    font-size: 3em;
    font-family: 'Oswald', sans-serif;
    color: rgb(17, 17, 17);
}

.mulherapontando {
    display: flex;
    width: 400px;
    height: 400px;
    background-image: url(imagens/muie.png);
    background-size: cover;
    background-position: center;
    -webkit-filter: drop-shadow(5px 5px 10px rgba(20, 20, 20, 0.63));
}

.carousel-item {
    position: relative;
    height: 32rem;
    position: relative;

}

.overlay-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
}

/* FOOTER */

.ctt {
    display: flex;
    height: 40px;
    width: 40px;
    background-image: url(imagens/telefone.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    background-size: cover;
}

.loc {
    display: flex;
    height: 40px;
    width: 40px;
    background-image: url(imagens/localizacao.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
}

.hr {
    display: flex;
    height: 40px;
    width: 40px;
    background-image: url(imagens/rotacao-no-sentido-horario.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    background-size: cover;
}

#card1 {
    border-right: #eeeeee 1px solid;
}

#card3 {
    border-left: white 1px solid;
}

.cardft, .cardft2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 30%;
}

.cardft > p {
    font-size: 1.3em
}

.cardft2 > p {
    font-size: 1.3em;
}

/*direitos do site*/

#direitosdosite {
    display: flex;
    justify-content: center;
    background-color: rgb(173, 86, 255);
    color: white;

}

#direitosdosite > a {
    color: rgb(250, 223, 70);
    padding-left: 5px;
}

footer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #161616;
}

.footercards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 100px 0;
}

@media only screen and (max-width: 1180px) and (min-width: 609px){

    #sobrenos {
        height: 180vh;
        justify-content: center;
        flex-direction: column;
    }
    
    .imagemcamera {
        width: 100%;
        margin: 0;
        background-size: cover;
        background-repeat: no-repeat;
    }

    #servicos {
        padding: 10px 0px;
    }
}   

@media only screen and (min-width: 100px) and (max-width: 1110px){

    .imagensserviço {
        flex-direction: column;
    }
    
    .img1, .img2, .img3 {
        width: 100%;
    }

    .card1, .card2, .card3 {
    width: 90%;
    margin-top: 30px;
    }

    .footercards {
        flex-direction: column;
        margin: 0;
        width: 100%;
    }

    .cardft2{
        border-right: none;
        border-left: none;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .cardft {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .cardft, .cardft2 {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 60%;
    }

    #card1 {
        border-bottom: #eeeeee 1px solid;
        border-right: none;
    }
    
    #card3 {
        border-top: white 1px solid;
        border-left: none;
    }
}

@media only screen and (min-width: 100px) and (max-width: 609px) {

    header {
        justify-content: flex-start;
    }
    
    .segurando_botao {
        margin-right: 20px;
    }
    
    .dropdown_menu {
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        top: 60px;
        height: 0;
        width: 70%;
        background-color: rgb(58, 58, 58);
        padding: 1em;
        margin-right: 20px;   
        border-radius: 20px;
        color: rgb(255, 255, 92);
        overflow: hidden;
        z-index: 100;
        transition: all 7asdasds cubic-bezier(0.175, 0.885, 0.32, 1.275) ease-in-out;
    }
    
    .dropdown_menu.open {
        display: flex;
        height: 240px;
    }
    
    .dropdown_menu > li {
        padding: 0px;
        margin-bottom: 30px;
    }
    
    .dropdown_menu > .nav-item4 {
        margin: 0px;
    }
    

    nav > ul{
        display: none;
    }

    .segurando_botao {
        display: block;
    }

    a:active {
        outline: none;
        text-decoration: none;
        box-shadow: none;
        background-color: none;
    }

    .nav-item, .nav-item4 {
        font-size: 1.4em;
        border: none;
    }

    .card1, .card2, .card3 {
        margin-top: 20px;
        margin: 20px 0px 0px 0px;
    }

    .imagemclientes {
        margin-bottom: 40px;
        margin-top: 40px;
    }

    .instagram, .whatsapp{
        width: 90%;
    }

    .titulocl1, .titulocl2 {
        font-size: 1.7em;
    }

    #sobrenos {
        justify-content: center;
        flex-direction: column;
        height: auto;
        padding: 40px 0px;
    }

    .mulherapontando {
        display: none;
    }
    
    .span1 {
        font-size: 1.3em;
        width: 90%;
    }

    .imagemcamera {
        margin: 0;
        width: 100%;
        height: 350px;
    }

    .footercards {
        flex-direction: column;
        margin: 0;
        width: 100%;
    }

    .cardft2{
        border-right: none;
        border-left: none;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .cardft {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .cardft, .cardft2 {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 60%;
    }

    #card1 {
        border-bottom: #eeeeee 1px solid;
    }
    
    #card3 {
        border-top: white 1px solid;
    
    }
}

@media only screen and (max-width: 280px) {
    #sobrenos {
        justify-content: center;
        height: a;
        flex-direction: column;
    }
}

.imagemclientes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
